name: Continuous Delivery
on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pages: write

jobs:
  setup:
    name: "Setup"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

  deploy-github-pages:
    name: "Deploy Static Content to Pages"
    needs: [setup]
    uses: ./.github/workflows/deploy-github-pages.yaml

  bump-version:
    name: "Bump version"
    needs: [deploy-github-pages]
    uses: ./.github/workflows/bump-version.yaml
